
$screen-xs: 480px;
$screen-sm: 900px;
$screen-lg: 1024px;
$screen-xl: 1280px;

$green-color: #28a745;
$yellow-color: #ffc107;
$red-color: #dc3545;
$blue-color: #007bff;

$text-area-border:#ced4da;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
